*{
    padding: 0;
    margin: 0;
    
    
}

body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, rgb(41 38 76 / 80%), rgba(132 150 241 / 80%)), url('./assets/bg.jpg');

}